**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
.github/workflows
.pixi/envs/cmake-init
cmake
docs
source
test
.codespellrc
.clang-format
.clang-format
.clang-tidy
BUILDING.md
CMakeLists.txt
CMakePresets.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
HACKING.md
README.md
pixi.lock
.gitignore
